page-about {
.bgSizeCover {
  height:640px;
  width: 360px;
  background-image: url('http://sm.ign.com/ign_br/screenshot/default/5-dicas-para-montar-seu-primeiro-deck-de-yu-gi-ohjpg1_686c.jpg');
  background-size: 600px;
  opacity: 0.25;
}
.title {
  text-align: center;
  position: relative;
}
}
